.active{
    border-color: black;
}

.banner{
    background-image: url(../../public/images/home.jpg);
    background-position: center right;
    background-size: cover;
}

.option-btn::-webkit-scrollbar{
    display: none;
}

.swiper-prev:hover{
    background-color: black;
    color: white;
    transition: ease .2s;
}
.swiper-next:hover {
    background-color: black;
    color: white;
    transition: ease .2s;
}

.swiper-prevs:hover{
    background-color: black;
    color: white;
    transition: ease .2s;
}
.swiper-nexts:hover {
    background-color: black;
    color: white;
    transition: ease .2s;
}

.recently-viewed-slider .swiper-slide {
    width: calc(50% - 6px); /* Atur lebar slide hanya untuk Recently Viewed */
}

/* COBA  */
#searchModal {
    display: none; /* Modal tersembunyi secara default */
    position: absolute;
    top: 100%; /* Posisikan modal di bawah input */
    left: 0;
    width: 100%; /* Modal lebar sesuai dengan input */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px; /* Sedikit jarak antara input dan modal */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Pastikan modal di atas elemen lainnya */
}



@media screen and (max-width:768px){
    .banner{
        background-image: url(../../public/images/home2.jpg);
        background-position: bottom ;
        background-size: cover;
    }

    .banner-tagline {
        margin-bottom: 24rem;
    }

    .banner-tag{
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width:576px){
    .banner{
        background-image: url(../../public/images/home2.jpg);
        background-position: bottom ;
        background-size: cover;
    }

    .banner-tagline {
        margin-bottom: 20rem;
    }
}